<head></head>
<body>

  

        <main>
  <div>
    <input type="email" name="email" id="email" value="">
  </div>
        

      <div class="price">
        <label for="range">1000</label>
      </div>

      <div class="range">
        <input type="range" id="range" min="100" max="5000" value="1000" />
      </div>

    </main>

 

</body>


<style>


</style>



<script>
const range = document.querySelector("#range");
const label = document.querySelector(".price label");
const boxPrices = document.querySelectorAll(".box");

let value = 1000;
range.value = value;

function updateRange() {
  let percentage = (100 * value) / 5000;
  range.style.background = ` linear-gradient(90deg, rgba(117,20,241,1) 0%, white ${percentage}%, rgba(233,61,90,1) ${percentage}%, rgba(62,48,56,1) ${percentage}%)`;
  label.innerText = `${value}`;

  range.addEventListener("input", (e) => {
    value = +e.target.value;
    percentage = (100 * value) / 5000;
    
    range.style.background = ` linear-gradient(90deg, rgba(117,20,241,1) 0%, white ${percentage}%, rgba(233,61,90,1) ${percentage}%, rgba(62,48,56,1) ${percentage}%)`;
    label.innerText = `${value}`;

    boxPrices.forEach((boxClass) => {
      boxClass.classList.remove("active");
    });
  });
}

boxPrices.forEach((box, i) => {
  box.addEventListener("click", () => {
    boxPrices.forEach((boxClass) => {
      boxClass.classList.remove("active");
    });
    box.classList.add("active");
    value = +box.getAttribute("data-price");
    range.value = value;
    updateRange();
  });
});

updateRange();

</script>



















































<style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 20px;
  
  background: transparent;
  font-family: "Roboto", sans-serif;
  padding: 100px 0;
}

/* Main */
main {
  position: relative;
    top: -100px;
  width: 60%;
  height: 100%;
  
  border-radius: 30px;
  color: white;
  padding: 30px;
  z-index: 2;
}


/* Price */
.price {
  margin-top:0;
  text-align: center;
}

.price label {
  font-size: 36px;
  font-weight: bold;
}

/* Input Range */
.range {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.range input[type="range"] {
  width: 100%;
  height: 9px;
  border-radius: 9px;
  
  background: white;
  -webkit-appearance: none;
  outline: none;
}

/* Chrome & Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 90px;
  box-shadow: 0 0 13px 0 #e93c59;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 90px;
  box-shadow: 0 0 13px 0 #e93c59;
  cursor: pointer;
  border: 0;
}





</style>